<% layout('layouts/boilerplate')%>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
<div class="container mt-4">
    <div class="d-flex justify-content-center">
        <div class="card mr-5">
            <div class="text-white card-header bg-dark"><strong><h3>Manish Barman</h3></strong></div>
            <div class="card-body">
              <h5 class="card-title">Registration Number: 132141987</h5>
              <h5 class="card-title">Mobile Number: 7890722782</h5>
              <h5 class="mb-3 card-title">Email: <a style="text-decoration: none;" href="manishmickeybarman@gmail.com">manishmickeybarman@gmail.com</a></h5>
              <a href="#" class="btn btn-danger zmdi zmdi-google"></a>
              <a href="https://github.com/manishbar" class="btn btn-dark zmdi zmdi-github"></a>
              <a href="http://www.linkedin.com/in/manishbar" class="btn btn-primary zmdi zmdi-linkedin"></a>
            </div>
          </div>
    </div>
</div>